<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>PSEM - {{ page.title }}</title>
    <meta name="description" content="PSEM - Cucumber & RSpec">
    <meta name="author" content="Manuel Oswald">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../assets/reveal.js/css/reveal.min.css">
    <link rel="stylesheet" href="../../assets/reveal.js/css/theme/sky.css" id="theme">
    <link rel="stylesheet" href="../../assets/reveal.js/lib/css/zenburn.css">
    <script>
      document.write( '<link rel="stylesheet" href="../../assets/reveal.js/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>
    <!--[if lt IE 9]>
    <script src="../assets/reveal.js/lib/js/html5shiv.js"></script>
    <![endif]-->
    <style type="text/css">
      .reveal ol,
      .reveal ul {
        line-height: 1.5em;
      }
      .reveal section img {
        border: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
      }
    </style>
  </head>
  <body>
    <div class="meny">
      <h2>TEST</h2>
    </div>

    <div class="meny-arrow"></div>

    <div class="contents">

      <div class="reveal">
        <!-- Any section element inside of this container is displayed as a slide -->
        <div class="slides">
          {{ content }}
        </div>
      </div>
    </div>
    <script src="../../assets/reveal.js/lib/js/head.min.js"></script>
    <script src="../../assets/reveal.js/js/reveal.min.js"></script>
    <script>
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/fade/none
        dependencies: [
          { src: '../../assets/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: '../../assets/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '../../assets/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '../../assets/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: '../../assets/reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: '../../assets/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });
    </script>

    <script src="../../assets/meny/js/meny.min.js"></script>
    <script>
      // Create an instance of Meny
      var meny = Meny.create({
        // The element that will be animated in from off screen
        menuElement: document.querySelector( '.meny' ),

        // The contents that gets pushed aside while Meny is active
        contentsElement: document.querySelector( '.contents' ),

        // [optional] The alignment of the menu (top/right/bottom/left)
        position: Meny.getQuery().p || 'left',

        // [optional] The height of the menu (when using top/bottom position)
        height: 200,

        // [optional] The width of the menu (when using left/right position)
        width: 260,

        // [optional] Distance from mouse (in pixels) when menu should open
        threshold: 40
      });

      // API Methods:
      // meny.open();
      // meny.close();
      // meny.isOpen();
      
      // Events:
      // meny.addEventListener( 'open', function(){ console.log( 'open' ); } );
      // meny.addEventListener( 'close', function(){ console.log( 'close' ); } );

      // Embed an iframe if a URL is passed in
      if( Meny.getQuery().u && Meny.getQuery().u.match( /^http/gi ) ) {
        var contents = document.querySelector( '.contents' );
        contents.style.padding = '0px';
        contents.innerHTML = '<div class="cover"></div><iframe src="'+ Meny.getQuery().u +'" style="width: 100%; height: 100%; border: 0; position: absolute;"></iframe>';
      }
    </script>

  </body>
</html>
